/* Emoji decorations */

.composite.title h2::before {
  content: "🔥";
  margin-right: 3px;
  font-size: 0.8rem;
  display: inline-block;
}

.pane-header h3.title::before {
  content: "🚀";
  margin-right: 3px;
  font-size: 0.8rem;
  display: inline-block;
}
